@use '../../styles/variables.scss' as *;

.main {}
.counter {
  color: getColor(white);
  &__count {
    font-size: clamp(48px, 6vw, 110px);
    line-height: 1;
    font-weight: 600;
  }
  &__title {
    font-size: clamp(16px, 2.25vw, 26px);
    line-height: 1.5;
    margin-top: 4px;
  }
}